.App {
  height: 500px;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
  /* background-image: url("C:\Users\shalini singh\to-do-list\src\images\list.png"); */
  background-position: center;
  background-size: cover;
  background-color:  #AC94F4;
 
}

.header {
  font-style:italic;
  margin-left: 200px;
  font-size: large;
  text-shadow:red;
  /* box-shadow: 0px 0px 20px  red; */
  /* box-shadow: 20px red; */
}

.input-container {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  /* margin-left: 80px;s */
  border-radius: 10px;
  background-color: #C8A4D4;
  margin-top: 20px;
  /* box-shadow: 0 0 20px grey; */
}
.input-container:hover {
  box-shadow: 0px 0px 100px #C8A4D4;
}

.input {
  background-color: whitesmoke;
  height: 20px;
  width: 80%;
  margin-top: 20px;
  margin-left: 20px;
  padding: 12px;
  border-radius: 11px;
  color: black;
  outline: none;
  border: none;
}

.input:hover {
  transition: all;
  box-shadow: 0px 0px 100px #643B9F;
}

.button {
  height: 40px;
  width: 70px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #643B9F;
  border-radius: 11px;
  font-size: bold;
  font-variant: normal;
  color: white;
  border: none;
  font-size: large;
  font-weight: 200;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 100px #643B9F;
}
.tickImg {
  height: 30px;
  width: 50px;
}

.list-bar {
  height: 50px;
  width: 90%;
  background-color: #e4d1d1;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 0 20px grey;
  text-rendering: auto;
  margin-top: 10px;
}


.del-btn {
  margin-left: 50px;
  /* background-color: red; */
  border: none;
  /* position: relative; */
  /* color: red; */
}

.clear-btn{
  height: 40px;
  width: 70px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #643B9F;
  border-radius: 11px;
  font-size: bold;
  font-variant: normal;
  color: white;
  border: none;
  font-size: large;
  font-weight: 200;
}

.fa-solid{
  background-color: red;
}



