.App {
  height: 1000px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;

  background-size: cover;
  background-color:  #AC94F4;

}


.header1{
  font-style: italic;
  font-size: large;
}


.todo-img{
  height: 100px;
  width: 200px;
  font-style:italic;
  /* margin-left: 200px; */
  font-size: large;
  text-shadow:red;

}
.input-container {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  border-radius: 10px;
  /* background-color: #C8A4D4; */
  background-color: rgb(237, 84, 181);
  /* background: linear-gradient(#0D1E4C , #C48CB3, #E5C9D7, #83A6CE,#26415E,#0B1B32); */
  margin-top: 20px;

}


.input {
  background-color: whitesmoke;
  height: 20px;
  width: 70%;
  margin-top: 20px;
  margin-left: 20px;
  padding: 12px;
  border-radius: 11px;
  color: black;
  outline: none;
  border: none;
  box-shadow: 0 0 20px grey;
}



.button {
  height: 40px;
  width: 70px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #643B9F;
  border-radius: 11px;
  font-size: bold;
  font-variant: normal;
  color: white;
  border: none;
  font-size: large;
  font-weight: 200;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 100px #643B9F;
}

.list-bar {
  height: 30px;
  width: 80%;
  background-color: #e4d1d1;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 0 20px grey;
  margin-top: 10px;
 
}


.fa{
  margin-left: 250px;
  position: sticky;
}

.fa:hover {
color: red;
cursor: pointer;

}

.clear-btn{
  height: 40px;
  width: 70px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #643B9F;
  border-radius: 11px;
  font-size: bold;
  font-variant: normal;
  color: white;
  border: none;
  font-size: large;
  font-weight: 200;
}




/*  formssssssssssssssssssssssssssssssssss */
.inputform{
  font-weight: 500;
}
.data{
  color: black;
}
.nodata{
  color: red;
  margin-top: -5px;
}

@media screen  and (max-width:600px){
  .App {
    height: 800px;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
  
    background-size: cover;
    background-color:  #AC94F4;
  
  }

  .todo-img{
    height: 100px;
    width: 200px;
    font-style:italic;
    /* margin-left: 200px; */
   
  
  }
}